# OS
.DS_Store

# Node/JS
node_modules/
dist/

# Env/Secrets
.env
.env.*
.secrets/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*

# IDE
.vscode/
.idea/



# Bazel outputs and symlinks
/bazel-*
/bazel-bin
/bazel-out
/bazel-testlogs
